h1 Co 2

.btn-group.pull-right
    button.btn.btn-primary(type='button', ui-sref="co2",disabled) Hour
    button.btn.btn-default(type='button', ui-sref="co2Day") Day

br
br

canvas#line.chart.chart-line(chart-data='data', chart-labels='labels', chart-series='series', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick')