h1 Light Level

.btn-group.pull-right
    button.btn.btn-primary(type='button', ui-sref="lightlevel",disabled) Hour
    button.btn.btn-default(type='button', ui-sref="lightlevelDay") Day

br
br

canvas#line.chart.chart-line(chart-data='data', chart-labels='labels', chart-series='series', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick')

.table-responsive
    table.table
        thead
            tr
                th Sensor reading
                th Light Condition
                th Illuminance Level (Lux)
        tbody
            tr
                td 20
                td Pitch dark
                td 0.4 ~ 5
            tr
                td 50
                td Very Dark
                td 6 ~ 50
            tr
                td 150
                td Dark Indoors
                td 51 ~ 95
            tr
                td 250
                td Corridor Areas/ Toilets
                td 140 ~ 145
            tr
                td 350
                td Rest Room
                td 155 ~ 195
            tr
                td 500
                td Entrances/Exits/Canteens
                td 196 ~ 295
            tr
                td 650
                td School Assembly Halls
                td 296 ~ 325
            tr
                td 750
                td Reading
                td 326 ~ 355
