nav.navbar.navbar-default.navbar-static-top
    .navbar-header
        a.navbar-brand(href='#', ui-sref="overview") Air Quality

    ul.nav.navbar-nav
        li
            a(ui-sref="overview") Overview
        li
            a(ui-sref="temperature") Temperature
        li
            a(ui-sref="humidity") Humidity
        li
            a(ui-sref="dust") Dust
        li
            a(href = "#",ui-sref="formolgas") Formol Gas
        li
            a(href = "#",ui-sref="coalgas") Coal Gas
        li
            a(ui-sref="lightlevel") Light Level
        li
            a(href = "#",ui-sref="co2") Co2

