doctype html
html(lang="en", ng-app="mt")

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(name='description', content='Air Quality Monitor')
        title Air Quality Monitor
        link(rel='stylesheet', href='rt.css')

    body
        div(ui-view='mt-main')
        script(src="rt.js")
