.row
    .col-sm-6.col-md-4
        .thumbnail(ng-class="getTemperatureCss()")
            .caption
                h4 Temperature
                p Current Temperature: {{temperature.value}} C°
                p Last update: {{temperature.createdAt}}
                button.btn.btn-default.bottomright(ui-sref="temperature", role='button') Show more

    .col-sm-6.col-md-4
        .thumbnail(ng-class="getCoalGasCss()")
            .caption
                h4 Coal Gas
                p Current Coal Gas Gas: {{coalgas.value}} mg/L
                p Last update: {{coalgas.createdAt}}
                button.btn.btn-default.bottomright(ui-sref="coalgas", role='button') Show more
    .col-sm-6.col-md-4
        .thumbnail(ng-class="getLightLevelCss()")
            .caption
                h4 Light Level
                p Current Light Level: {{lightlevel.value}}
                p Last update: {{lightlevel.createdAt}}
                button.btn.btn-default.bottomright(ui-sref="lightlevel", role='button') Show more
    .col-sm-6.col-md-4
        .thumbnail(ng-class="getDustCss()")
            .caption
                h4 Dust
                p Current Dust: {{dust.value}} pcs/0.01cf
                p Last update: {{dust.createdAt}}
                button.btn.btn-default.bottomright(ui-sref="dust", role='button') Show more
    .col-sm-6.col-md-4
        .thumbnail(ng-class="getHumidityCss()")
            .caption
                h4 Humidity
                p Current Humidity: {{humidity.value}}
                p Last update: {{humidity.createdAt}}
                button.btn.btn-default.bottomright(ui-sref="humidity", role='button') Show more
    .col-sm-6.col-md-4
        .thumbnail(ng-class="getFormolgasCss()")
            .caption
                h4 Formol Gas
                p Current Formol gas: {{formolgas.value}} mg/L
                p Last update: {{formolgas.createdAt}}
                button.btn.btn-default.bottomright(ui-sref="formolgas", role='button') Show more


    .col-sm-6.col-md-4
        .thumbnail(ng-class="getCo2Css()")
            .caption
                h4 Co2
                p Current Co2 gas: {{co2.value}} ppm
                p Last update: {{co2.createdAt}}
                button.btn.btn-default.bottomright(ui-sref="co2", role='button') Show more
