h1 Coal Gas

.btn-group.pull-right
    button.btn.btn-primary(type='button', ui-sref="coalgas",disabled) Hour
    button.btn.btn-default(type='button', ui-sref="coalgasDay") Day

br
br

canvas#line.chart.chart-line(chart-data='data', chart-labels='labels', chart-series='series', chart-options='options', chart-dataset-override='datasetOverride', chart-click='onClick')